<div class="panel panel-primary">
  <div class="panel-heading">
    Project
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <div class="btn-group">
        <button type="button" class="btn btn-default" value="table" id="btable" name="baction" data-toggle="modal" data-target="#modal-table">New Table</button>
      </div>
    </li>
  </ul>
  <ul class="list-group">

    <li class="list-group-item" [ngClass]="{active: t == db.selected}" *ngFor="let t of db.tables" (click)="select(t)" >
      <span>{{t.name}}</span>
    </li>

  </ul>
</div>
