<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-click="closePanels()" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Diagram Creater</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="new_map" href="" >New Diagram</a></li>
        <li><a class="build_sql" href="" data-toggle="modal" data-target="#modal-sql">Build SQL</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3">
      <panel-project [db]="db"></panel-project>
    </div>
    <div class="col-xs-9">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Diagram
        </div>
        <div class="panel-body">
          <div class="drag-area"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="modal-entity" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <form class="form-entity" role="form">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">New Entity</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="entity-name">Name:</label>
            <input type="text" [(ngModel)]="table.name" name="name" class="form-control" id="entity-name" placeholder="Name" >
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" name="save-entity" (click)="newObject()" data-dismiss="modal">Save</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>


<div id="modal-sql" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">SQL</h4>
      </div>
      <div class="modal-body"><pre><code> </code></pre></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>

