<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-click="closePanels()" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Diagram Creater</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a class="new_map" href="" >New Diagram</a></li>
        <li><a class="build_sql" href="" >Build SQL</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container-fluid row">
  <main class="mdl-layout__content">
    <div class="page-content">
      <section>
        <div class="btn-group">
          <button type="button" class="btn btn-default" value="move" id="bmove" name="baction">Move</button>
          <button type="button" class="btn btn-default" value="entity" id="bentity" name="baction">New Entity</button>
        </div>
      </section>
      <section>
        <div class="drag-area"></div>
      </section>
    </div>
  </main>
</div>

<dialog class="mdl-dialog" id="modal-entity">
  <form class="form-entity" role="form">
    <h4 class="mdl-dialog__title">New Entity</h4>
    <div class="mdl-dialog__content">
      <input type="hidden" name="id_entity" value="">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input type="text" class="mdl-textfield__input" id="entity-name" >
        <label for="entity-name" class="mdl-textfield__label">Name:</label>
      </div>
    </div>
    <div class="mdl-dialog__actions">
      <button type="submit" class="mdl-button" name="save-entity">Save</button>
      <button type="button" class="mdl-button close">Close</button>
    </div>
  </form>
</dialog>


<dialog class="mdl-dialog" id="modal-sql">
  <h4 class="mdl-dialog__title">SQL</h4>
  <div class="mdl-dialog__content"><code> </code>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button close">Ok</button>
  </div>
</dialog>

