.entity {
  width: 150px;
  position: absolute;
}
.drag-area {
  border: 1px solid #CCC;
  height: 600px;
  background-color: #f6f6f6;
  position: relative;
}
.pbuttons {
  text-align: right;
}
.mdl-card {
  min-height: 150px;
}
table.mdl-data-table tbody td {
  padding: 8px;
}
.page-content{
  padding: 30px;
}
